<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- styles.css -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <title>Contact Book Management Website</title>
  </head>
  <body>
    <div class="header">
      <h1>Contact Book Management Website</h1>
    </div>
    <div class="options-body">
      <h2>Welcome!</h2>
      <h3><a href="/contacts/add">Create Contact</a></h3>
      <h3><a href="/contacts?page=1&limit=5">View Contacts</a></h3>
    </div>
  </body>
</html>
