<%- include('partials/header'); -%>
<div class="header">
  <h1>Contact Book Management Website</h1>
</div>
<div class="options-body">
  <h2>Welcome!</h2>
  <h3><a href="/contacts/add">Create Contact</a></h3>
  <h3><a href="/contacts?page=1&limit=10">View Contacts</a></h3>
</div>
<%- include('partials/footer'); -%>
