p {
  margin-bottom: 0;
}

div.contact {
  margin: 5px 0px 5px 0px;
}

div.contact:hover {
  background-color: lightblue;
  cursor: pointer;
}

div#contacts-body {
  margin: 10px 0px 5px 0px;
}

div#mainpage-link {
  margin-bottom: 20px;
}
